@model Diplomado_MVC_Validar_Estudiante.Models.Estudiante

@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>
                Ingrese Nombres:
                @Html.EditorFor(model => model.Nombres)
                @Html.ValidationMessageFor(model => model.Nombres)
            </p>
            <p>
                Ingrese Apellidos:
                @Html.EditorFor(model => model.Apellidos)
                @Html.ValidationMessageFor(model => model.Apellidos)
            </p>
            <p>
                Edad:
                @Html.EditorFor(model => model.Edad)
                @Html.ValidationMessageFor(model => model.Edad)
            </p>
            <p>
                Email:
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </p>
            <p>
                Genero:
                @Html.EditorFor(model => model.Genero)
                @Html.ValidationMessageFor(model => model.Genero)
            </p>
            <p>
                Estado Civil:
                @Html.EditorFor(model => model.EstadoCivil)
                @Html.ValidationMessageFor(model => model.EstadoCivil)
            </p>
            <p>
                <input type="submit" value="Confirmar" />
            </p>
        }
    </div>
</body> 
</html>